@use '../variables/index' as *;
@use '../functions/set-colors' as *;

@mixin set-form($color, $padding) {
  &__form {
    display: flex;
    gap: $space-sm;
    padding: 0 $padding $padding;
  }

  &__input {
    border: unset;
    border-bottom: 1px solid set-colors($color);
    padding: $space-xs 0;
    background-color: transparent;
    color: set-colors($color);
    outline: unset;
    transition: box-shadow $transition;

    &:focus {
      box-shadow: 0 1px 0 0 set-colors($color);
    }

    &::placeholder {
      color: $clr-gray;
    }
  }

  &__submit {
    order: -1;
    padding: 0;
    border: unset;
    background-color: transparent;
    color: set-colors($color);
    font-weight: bold;
  }
}
