@use '../abstracts/variables/index' as *;
@use '../abstracts/mixin/form' as *;

.lists {
  display: flex;
  flex-direction: column;
  gap: $space-lg;
  color: $clr-light;

  @include set-form($clr-primary);

  &__title {
    margin: $space-md 0;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: inside;
    list-style-type: circle;
  }

  &__item {
    cursor: pointer;

    &--active {
      list-style-type: disc;
      font-weight: bold;
    }
  }
}
