@use '../abstracts/index' as *;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  background-image: radial-gradient(
    circle,
    $clr-secondary 0,
    $clr-primary 100%
  );
  font-family: 'Montserrat', sans-serif;
}
